@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GIP";
  font-weight: 100;
  src: local("GIP-Thin"), url(../assets/font/GIP-Thin.otf) format("opentype");
}

@font-face {
  font-family: "GIP";
  font-weight: 200;
  src: local("GIP-UltraLight"),
    url(../assets/font/GIP-UltraLight.otf) format("opentype");
}

@font-face {
  font-family: "GIP";
  font-weight: 300;
  src: local("GIP-Light"), url(../assets/font/GIP-Light.otf) format("opentype");
}

@font-face {
  font-family: "GIP";
  font-weight: 500;
  src: local("GIP-Medium"),
    url(../assets/font/GIP-Medium.otf) format("opentype");
}

@font-face {
  font-family: "GIP";
  font-weight: 600;
  src: local("GIP-SemiBold"),
    url(../assets/font/GIP-SemiBold.otf) format("opentype");
}

@font-face {
  font-family: "GIP";
  font-weight: 700;
  src: local("GIP-Bold"), url(../assets/font/GIP-Bold.otf) format("opentype");
}

@font-face {
  font-family: "GIP";
  font-weight: 800;
  src: local("GIP-ExtraBold"),
    url(../assets/font/GIP-ExtraBold.otf) format("opentype");
}

@font-face {
  font-family: "GIP";
  font-weight: 900;
  src: local("GIP-Black"), url(../assets/font/GIP-Black.otf) format("opentype");
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.text-outline {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
html {
  scroll-behavior: smooth;
  @apply scrollbar-thin scrollbar-thumb-rounded-full scrollbar-thumb-brand/40;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}